.heart {
    position: fixed;
    top: -10vh;
    font-size: 2rem;
    transform: translateY(0);
    opacity: 1;
    animation: fall linear forwards;
    z-index: -1;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}
